body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 56px 1fr 40px;
    grid-template-columns: 220px 1fr;
    grid-template-areas: "header    header"
                         "sidebar   content"
                         "footer    footer";
}

.header {
    grid-area: header;
}

.aside {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.main {
    grid-area: content;
    background-color: white;
}