body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 220px 1fr;
    grid-template-areas: "header    header"
                         "sidebar   content"
                         "footer    footer";
    height: 150%;
}

.header {
    grid-area: header;
}

.aside {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 9px 1fr 9px;
    grid-template-areas: "leftcushion   filters    rightcushion";
}

.filters {
    grid-area: filters;
}

.footer {
    grid-area: footer;
}

.main {
    grid-area: content;
    background-color: white;
}

.giftcollage {
    display: grid;
    grid-template-areas: "a a a a a";
    grid-gap: 10px;
    grid-auto-rows: 200px;
    width: 1000px;
    padding-left: 20px;
}

.gift {
    background-color: bg-primary;
}